
# =========================
# Environment files
# =========================
*.env
*.env.*

# =========================
# Python
# =========================
backend/venv/
backend/myvenv/
backend/__pycache__/
**/__pycache__/
*.pyc

# =========================
# Node / React
# =========================
node_modules/
frontend/build/

# =========================
# Docker / Database
# =========================
postgres-data/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store

-e-e 
# Environment files
*.env
*.env.*
